#go-board{
  position: absolute;
  top:20px;
  left: 100px;
  height: 500px;
  width: 500px;
  background-image: url('goboard.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#board{
  margin:0px;
  position: relative;
  height: 432px;
  width: 432px;
  top: 34px;
  left: 34px;
}

.gobutton{
  position:absolute;
  padding: 0px;
  margin:0px;
  border:0;
  border-collapse: collapse;
  height:18px;
  width:18px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  
}
.gobutton-0{
  background: none;
}
.gobutton-1{
  background-color:#fff;
}
.gobutton-2{
  background-color:#000;
}
